.btn {
    font-family: inherit;
    padding: 1rem 2rem;
    border-radius: var(--border-raduis-md);
    outline: 0;
    border: none;
    box-shadow: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.btn__primary {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.btn__primary:hover {
    background: transparent;
    box-shadow: inset 0 0 0 0.2rem var(--secondary-color);
    -webkit-box-shadow: inset 0 0 0 0.2rem var(--secondary-color);
    -ms-box-shadow: inset 0 0 0 0.2rem var(--secondary-color);
    -o-box-shadow: inset 0 0 0 0.2rem var(--secondary-color);
    color: var(--secondary-color);
}

.hero__btn {
    background-color: var(--dark-color);
    font-size: 1.4rem;
    padding: 1rem 1rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
    width: 216px;
}

.hero__btn:hover {
    background: transparent;
    box-shadow: inset 0 0 0 0.2rem var(--dark-color);
    -webkit-box-shadow: inset 0 0 0 0.2rem var(--dark-color);
    -ms-box-shadow: inset 0 0 0 0.2rem var(--dark-color);
    -o-box-shadow: inset 0 0 0 0.2rem var(--dark-color);
    color: var(--dark-color);
}

.btn__search {
    flex: 5%;
}

.btn__whyUs {
    padding: 1.5rem 2rem;
    margin-top: 1rem;
}

.btn__subscribe {
    background: var(--dark-color);
    border-radius: var(--border-raduis-sm);
    padding: 0.7rem 2rem;
}

.btn__subscribe:hover {
    background: transparent;
    box-shadow: inset 0 0 0 0.2rem var(--dark-color);
    -webkit-box-shadow: inset 0 0 0 0.2rem var(--dark-color);
    -ms-box-shadow: inset 0 0 0 0.2rem var(--dark-color);
    -o-box-shadow: inset 0 0 0 0.2rem var(--dark-color);
    color: var(--dark-color);
}

.btn__login {
    background: transparent;
    color: var(--dark-color);
}

.btn__findDoctor {
    font-size: 1.4rem
}

.btn__findDoctor i {
    padding-right: 5px;
    margin-left: -20px
}