#feedback {
    padding: 5rem 0 20rem 0;
    background-color: #f4f7ff;
}

.feedback__wrapper {
    display: flex;
}

.feedback___img {
    display: flex;
    justify-content: center;
}

.feedback___img img {
    width: 70%!important;
    object-fit: cover;
}

.feedback___content {
    padding: 10rem 5rem;
    flex: 50%;
}

.patient__box {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: stretch;
}

.patient__img img {
    width: 10rem!important;
    background: #03dcbf;
    border-radius: var(--border-raduis-xl);
}

.patient__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.patient__comment p {
    line-height: 2;
    font-size: 1.6rem;
    margin-top: 3rem;
}

.patient__rating .checked {
    color: #ffbc4d
}

.carousel_02 {
    position: relative;
}

.carousel_02 .owl-dots {
    margin: -80px 365px 0 0;
    width: 100px;
    float: right;
}

.carousel_02 .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.carousel_02 .owl-dots button.owl-dot.active {
    background-color: var(--secondary-color);
}

.carousel_02 .owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-nav {
    display: none;
}

@media only screen and (max-width: 576px) {
    .carousel_02 .owl-dots {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .feedback__wrapper {
        flex-wrap: wrap;
    }

    #feedback {
        padding: 5rem 0 10rem 0;
        background-color: #f4f7ff;
    }

}

@media only screen and (min-width:1400px) {
    .carousel_02 .owl-dots {
        margin: -80px 490px 0 0;
    }
}