#popularSearch {
    margin: 7rem 0;
}

.popularSearch__wrapper {
    display: grid;
    /* justify-content: space-evenly; */
    /* width: 100%; */
    /* flex-wrap: wrap; */
    grid-template-columns: 1fr 4fr;
}

.popularSearch__tab {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    border-right: 3px solid var(--secondary-color);
    margin-right: 3rem;
    justify-content: center;
}

.popularSearch__tablinks {
    font-size: 2rem;
    line-height: 2.5;
    display: inline-block;
    color: #a8b1c0;
    font-weight: 500;
    cursor: pointer;
    background: none;
    border: none;
}

.popularSearch__tablinks.active {
    color: var(--secondary-color);
}

.popularSearch__tabcontent {
    width: 100%;
}

.popularSearch__tabcontent--wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, minmax(18%, 1fr));
}

.popularSearch__tabcontent--box {
    background-color: #fff;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-raduis-md);
    transition: all 0.3s ease-out;
}

.popularSearch__tabcontent--img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
}

.popularSearch__tabcontent--box.blue .popularSearch__tabcontent--img {
    border: 2px solid #B5D0FD;
}

.popularSearch__tabcontent--box.blue:hover,
.popularSearch__tabcontent--box.blue:hover .popularSearch__tabcontent--img {
    background-color: #B5D0FD;
}

.popularSearch__tabcontent--box.blue:hover .popularSearch__tabcontent--img {
    border: 2px solid #88B4F9;
}

.popularSearch__tabcontent--box.yellow .popularSearch__tabcontent--img {
    border: 2px solid #FFE678;
}

.popularSearch__tabcontent--box.yellow:hover,
.popularSearch__tabcontent--box.yellow:hover .popularSearch__tabcontent--img {
    background-color: #FFE678;
}

.popularSearch__tabcontent--box.yellow:hover .popularSearch__tabcontent--img {
    border: 2px solid #F2D551;
}

.popularSearch__tabcontent--box.black .popularSearch__tabcontent--img {
    border: 2px solid #81939E;
}

.popularSearch__tabcontent--box.black:hover,
.popularSearch__tabcontent--box.black:hover .popularSearch__tabcontent--img {
    background-color: #81939E;
}

.popularSearch__tabcontent--box.black:hover .popularSearch__tabcontent--img {
    border: 2px solid #2A4352;
}

.popularSearch__tabcontent--box.red .popularSearch__tabcontent--img {
    border: 2px solid #FF9898;
}

.popularSearch__tabcontent--box.red:hover,
.popularSearch__tabcontent--box.red:hover .popularSearch__tabcontent--img {
    background-color: #FF9898;
}

.popularSearch__tabcontent--box.red:hover .popularSearch__tabcontent--img {
    border: 2px solid #FF4A4A;
}

.popularSearch__tabcontent--box.green .popularSearch__tabcontent--img {
    border: 2px solid #83F0E1;
}

.popularSearch__tabcontent--box.green:hover,
.popularSearch__tabcontent--box.green:hover .popularSearch__tabcontent--img {
    background-color: #83F0E1;
}

.popularSearch__tabcontent--box.green:hover .popularSearch__tabcontent--img {
    border: 2px solid #00DDC0;
}

.popularSearch__tabcontent--img img {
    width: 8rem;
}

.popularSearch__tabcontent--box p {
    font-weight: 600;
}

@media only screen and (max-width: 575px) {
    .popularSearch__tabcontent--wrapper {
        grid-template-columns: repeat(1, minmax(18%, 1fr));
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .popularSearch__tabcontent--wrapper {
        grid-template-columns: repeat(2, minmax(18%, 1fr));
    }
}

@media only screen and (max-width: 767px) {
    .popularSearch__wrapper {
        grid-template-columns: 1fr;
    }
    .popularSearch__tab {
        border-right: none;
        border-bottom: 3px solid var(--secondary-color);
        margin-bottom: 3rem;
        margin-right: 0;
    }
    .popularSearch__tab {
        flex-direction: row;
        gap: 2rem;
    }
}

@media only screen and (max-width: 991px) and (min-width:768px) {
    .popularSearch__tabcontent--wrapper {
        grid-template-columns: repeat(3, minmax(18%, 1fr));
    }
}

@media only screen and (max-width: 1200px) {}